# JetBrains Config
.idea/

# .env file that is actually used by the system
.env

# Vagrant state files
vagrant/.vagrant/

*.egg-info

# Runtime python files
__pycache__/

# Generated Vagrant Settings File
vagrant/settings.json

# Test Coverage Files
.coverage
coverage.xml

# Cache files
.pytest_cache/
.mypy_cache/

# vscode
.vscode

# Generated Dockerfile for development
docker/dev_Dockerfile

compose_file_creator_log.html
compose_file_creator_log.txt
